pyperclip
pillow
imapclient
pyautogui
ipykernel
ipython
numpy==2.0.2
pandas==2.2.2
matplotlib
seaborn
scikit-learn
wget
requests==2.32.3
spacy==3.8.4
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
tensorflow-cpu==2.18.0
torch
torchvision
torchaudio
streamlit
wordcloud
booknlp==1.0.7
spacy==3.8.4
datasets<=2.1.0
evaluate==0.4.3
accelerate==1.5.2
gradio==5.23.0
transformers==4.49.0
huggingface_hub==0.29.3
bitsandbytes==0.43.1
tk
secure-smtplib